<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Amandus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.muirey03.amandus</string>
			<key>key</key>
			<string>darkMode</string>
			<key>label</key>
			<string>Dark mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.muirey03.amandus</string>
			<key>key</key>
			<string>isTranslucent</string>
			<key>label</key>
			<string>Translucent</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Muirey03</string>
		    <key>user</key>
		    <string>Muirey03</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Designer</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>whats up?</string>
		    <key>user</key>
		    <string>dumbhandle123</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Muirey03's PayPal</string>
			<key>subtitle</key>
    		<string>paypal.me/muirey03dev</string>
			<key>url</key>
			<string>https://www.paypal.me/muirey03dev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Amandus</string>
</dict>
</plist>
